/*GENERAL STYLING--------------------*/
body {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
  max-height: 150px;
}

main {
  flex: 1 0 auto;
  padding-top: 30px;
}

h1 {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: normal;
}
/*--------------------------------------*/
/*HYPERLINK STYLING--------------------*/
a:link {
  color: black;
}

a:visited {
  color: black;
}
/*--------------------------------------*/



#link-btn-grid1, #link-btn-grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.header-logo-img {
  max-height: 145px;
  padding: 15px 15px 15px 15px;
}